.navbar {
  margin-bottom: 20px;
}

body {
  background: #e2f2d5 !important;
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn.btn-primary.btn-show-info {
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #d4edf4;
  color: #4c5870;
}

.btn.btn-info.btn-add-list {
  border-radius: 50%;
  background-color: #f6c2c2;
  color: #4c5870;
}

.btn.btn-info.btn-remove-list {
  border-radius: 50%;
  background-color: #f6c2c2;
  color: #4c5870;
}

#personal-modal-avatar {
  border-radius: 100% !important;
}
